body {
  background: #f8f8f8;
  color: #272727;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

/*#chat3 .form-control {*/
/*  border-color: transparent;*/
/*}*/

/*#chat3 .form-control:focus  {*/
/*  border-color: transparent;*/
/*  box-shadow: inset 0px 0px 0px 1px transparent;*/
/*}*/

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
}

/*.send-button {*/
/*  padding-top: 0;*/
/*  padding-bottom: 0;*/
/*  line-height: 0;*/
/*  height: 30px;*/
/*  width: 60px;*/
/*}*/

.send-option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.send-option-wrapper > p {
  margin: 0;
}

.send-option-wrapper i {
  font-size: 1.15rem;
}

#loaded-rephrasings-container {
  height: 0;
  overflow: hidden;
  padding: 8px;
  margin: -8px;
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
}

#rephrasings-loader-container {
  width: 100%;
  transition: opacity 0.2s ease-in;
}

#rephrasings-container {
  /* Stack children */
  height: 0;
  position: relative;
  transition: height 0.2s ease-out;
}

#rephrasings-container > * {
  position: absolute;
}

.send-option-wrapper .form-control {
  padding: 12px 16px;
}

.send-option-wrapper .form-control.text-primary[contenteditable="true"] {
  border: 1px solid #0d6efd;
}

.send-option-wrapper .form-control.text-primary[contenteditable="true"]:focus,
.send-option-wrapper .form-control.text-primary[contenteditable="true"]:active {
  border: 1px solid #0d6efd;
  box-shadow: 0 0 0 0.2rem #0d6efd66;
}

.send-option-wrapper .form-control.text-dark[contenteditable="true"] {
  border: 1px solid #212529;
}

.send-option-wrapper .form-control.text-dark[contenteditable="true"]:focus,
.send-option-wrapper .form-control.text-dark[contenteditable="true"]:active {
  border: 1px solid #212529;
  box-shadow: 0 0 0 0.2rem #21252966;
}
