:root {
    --dred: #540B15;
    --dblue: #1D1D52; 
    --purp: #220C24;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: auto;
}

.flexwrap {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.purple {
    background-color: var(--purp);

    background-image: linear-gradient(var(--dred), var(--dblue));
    background-image: -o-linear-gradient(var(--dred), var(--dblue));
    background-image: -moz-linear-gradient(var(--dred), var(--dblue));
    background-image: -webkit-linear-gradient(var(--dred), var(--dblue));

}

/*
AJAX FORM
*/
.ajaxform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    color: white;
    font-size: 2.5em;
    margin: 0;
    max-width: 75%;
}

#single_input {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#single_input > input {
    border-radius: 4px;
    border: .1em solid white;
    padding: .5em;
    margin: 1.5em;
    background-color: transparent;
    color: white;
    font-size: 1em;

}

#single_input > input::placeholder {
    color: rgba(255, 255, 255, .5)
}

.form_submit{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin: 0;
}

.form_submit:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
    transition: border-width 250ms linear;
}

.radio {
    margin: .25em;
    display: grid;
    grid-template-columns: -webkit-min-content auto;
    grid-template-columns: min-content auto;
    font-size: 2.25rem;
    color: white;
  }

.radio:hover {
    cursor: pointer;
}

.radio_label {
    line-height: 1;
    transition: 180ms all ease-in-out;
    text-align: left;
    padding-left: 10px;
    opacity: 0.8;
    color: white;
}
  
.radio_input {
    display: flex;
}
.radio_input input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio input[type="radio"]:checked + .radio_control {
    background: radial-gradient(white 50%, rgba(255, 0, 0, 0) 51%);
}

.radio input[type="checkbox"]:checked + .radio_control {
    background: white;
}

.radio_control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid white;
    transform: translateY(-0.05em);
}

.grid_radio {
    font-size: 1.25rem;
}

.grid_wrapper {
    width: 70%;
    margin: 1.5em 0;
    padding: 0;
}

.grid_wrapper_small{
    margin: 1.5em 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.gws_left {
    text-align: left;
    margin-right: 5%;
}

.gws_right {
    text-align: right;
    margin-left: 5%;
}

.grid_row_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;;
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 0 .5em 0;
    border-bottom: 1px solid white;
}

.grid_row_wrapper_text {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid_label {
    color: white;
    font-weight: 400;
    font-size: 1.5em;
}

.grid_question {
    display: block;
    color: white;
    width: 90%;
    margin: .5em 5%;
    padding: 0;
    font-weight: 200;
}

.list_wrapper {
    width: 100%;
    margin: 1.5em 0;
    padding: 0;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider:hover {
    opacity: 1;
}

.slider:hover ~ .bubble {
    opacity: 1;
}

.slider:hover ~ .bubble::after {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    content:'A';
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    content: 'A';
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
}

.bubble {
    opacity: .7;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: white;
    color: var(--dblue);
    padding: 0;
    margin-top: 25px;
    position: absolute;

    transform: translateX(-50%);
  }

.range_wrap {
    position: relative;
    margin: 0 auto 3rem;
  }

/* POPUP */
.popup {
    display: none;
    left: 10px;
    top: 10px;
    padding: 10px 20px 10px 10px;
    position: absolute;
    max-width: 100%;
    background-color: rgba(255, 0, 0, .6);
    color: white;
    border: 2px solid red;
    border-radius: 4px;
}

.popup_msg {
    display: inline;
}

.popup_close {
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 0;
    display: inline;
    border: none;
    background-color: transparent;
}

.popup_close:hover {
    cursor: pointer;
}

/** LOGIN **/
.login {
    flex-direction: row;
}

.login input[type="text"] {
    border-radius: 4px;
    border: .1em solid white;
    padding: .5em;
    margin: .75em;
    background-color: transparent;
    color: white;
    font-size: 1em;
}

.login form {
    display: flex;
    flex-direction: column;
}

.vl {
    height: 75%;
    border-right: .1em solid white;
    border-radius: .1em;
    margin: 0 10px;
}

/** WAITING ROOM **/
.guidelines {
    color: white;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 2em;
    max-width: 80%;
}

.subheading {
    color: white;
    font-size: 2em;
    margin: 0;
    max-width: 75%;
}

.subsubheading {
    color: white;
    font-weight: 200;
    font-size: 1.5em;
    margin: 10px;
    padding: 0;
}

.divider {
    width: 50%;
    border-right: .1em solid white;
    border-radius: .1em;
    margin: 40px 0;
}

/** CHATROOM **/
.chatwrapper {
    padding:0 10px;
    margin:0;
    height: 100vh;
    background-color: white;
    max-width: calc(100% - 20px);
    width: 80%;
    max-width: 1000px;
}

.chat_heading {
    color: var(--purp);
    height: 12%;
    width: 100%;
    margin: 3% 0 0 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: scroll;
}

.chat_heading h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.chats {
    height: 75%;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.uname {
    display: block;
    margin: 5px 0;
    padding: 0;
    font-size: 1.5em;
}

.msg {
    max-width: 60%;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0;
    font-size: calc(1.5em);
    border: 2px solid;
    border-radius: 10px;
}

.sent {
    text-align: right;
    float: right;
    margin-left: 51%;
}

.received {
    text-align: left;
    float: left;
    margin-right: 51%;
}

.chatform {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    position: relative;
}

.message_box {
    resize: none;
    height: 100%;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: 90%;
    border: none;
    position: absolute;
    left: 0;

    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.submit_chat {
    margin: 0;
    padding: 0;
    width: 10%;
    position: absolute;
    border: none;
    right: 0;
    height: 100%;
    background-color: transparent;
    font-size: 2.5em;
    color: var(--dblue);
}