<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatroom</title>
    {%include "boilerplate_bs.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <link href="{{url_for('static', filename='css/chatroom.css')}}" rel="stylesheet">
</head>
<body>
    <section >
      <div class="container py-5">
        <div class="row">
          <h1>{{prompt}}</h1>
          <p> <span class="text-primary msg-count">{{msg_count}}</span> messages sent out of {{msg_limit}} required</p>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="card" id="chat3" style="border-radius: 15px;">
              <div class="card-body">

                <div class="row justify-content-center">

                  <div class="col-md-8 col-lg-10 col-xl-12">

                    <div class="pt-3 pe-3 overflow-auto" data-mdb-perfect-scrollbar="true" id=chatbox style="position: relative; height: 60vh">
                      {% for msg in msgs %}
                      <div class="d-flex flex-row justify-content-{{"start" if msg.bot else "end"}}">
                        <div>
                          <p class="medium p-2 ms-3 mb-1 rounded-3 {{"bg-primary" if not msg.bot else "bg-light"}} {{"text-light" if not msg.bot}}" >{{msg.msg}}</p>
                          <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{msg.sendtime|format_dt}}</p>
                        </div>
                      </div>
                      {% endfor %}

                    </div>

                    <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2 border-top">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
                        alt="avatar 3" style="width: 40px; height: 100%;">

                        <form class="d-flex justify-content-around w-100">
                          <input id="messagebox"
                            type="text"
                            class="form-control form-control-lg border-bottom"
                            placeholder="Type message"
                            aria-label="Type message"
                            aria-describedby="send-btn"
                          />
                          <button class="btn btn-outline-primary" style="border-radius:50%; border-top-left-radius: 0; border-bottom-left-radius:0;" type="submit" id="send-btn" data-mdb-ripple-color="dark">
                            Send
                          </button>
                        </form>


                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript">
// scroll to bottom of chats
$("#chatbox").scrollTop($("#chatbox").prop("scrollHeight"));

// function to add chaat
function addchat(msg, time, bot){
    let ins = `
    <div class="d-flex flex-row justify-content-${bot ? "start" : "end"}">
      <div>
        <p class="small p-2 ms-3 mb-1 rounded-3 ${!(bot) ? "bg-primary" : "bg-light"} ${ !(bot) ? "text-light":""}" >${msg}</p>
        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">${time}</p>
      </div>
    </div>
    `;
    $('#chatbox').append(ins);
}

// connect socket
var socket = io.connect();

socket.on( 'connect', function() {

  var form = $( 'form' ).on( 'submit', function( e ) {
    e.preventDefault();
    let user_input = $( '#messagebox' ).val()
    if (user_input == ""){
      return;
    };
    addchat(user_input, "Now", false);
    $("#chatbox").scrollTop($("#chatbox").prop("scrollHeight"));

    socket.emit( 'post', {
      uname : "{{uname}}",
      uid : {{uid}},
      body : user_input,
      color : "{{color}}",
      cid : {{cid}}
    } );
    // clear textarea
    $('#messagebox').val('');
    // play send sound
    //document.getElementById("sent_sound").play()
    // ELIZA
    //console.log("sending eliza")
    //socket.emit( 'eliza', {msg : user_input})

    //$( 'textarea.message_box' ).val( '' ).focus()
  } );
});

socket.on( 'response_{{cid}}', function( msg ) {

  if ("redirect" in msg){
      window.location.replace(msg["redirect"]);
  }
  addchat(msg["response"], msg["time"], true);
  console.log(msg);
  $(".msg-count").html(msg["ct"]);
  $("#chatbox").scrollTop($("#chatbox").prop("scrollHeight"));
  /*
  $( 'div.chatwrapper' ).append( '<div class="msg '+cls+'"><h4 class="username">'+msg.uname+'</h4><p class="message_body">'+msg.body+'</p></div>' )
  var chatbox = document.getElementById('chatwrapper')
  chatbox.scrollTop = chatbox.scrollHeight
  console.log(chatbox.scrollHeight)
  */
})

  </script>
  <script src="{{url_for('static', filename='js/mdb.min.js')}}"></script>

</body>
</html>
