<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap" rel="stylesheet">
<body>
    {% include "popup.html" %}
    <div class="flexwrap purple">
        <form class="ajaxform" data-url="/ajax_form">
            <h2 class="question">Enter your survey code below:</h2>
            <div id="single_input">
                <input type="text" name="code" placeholder="enter your code">
            </div>
            <input class="form_submit" type="submit" value="Begin Survey">
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
</body>