<head>
    <title>Survey</title>

    <link href="{{url_for('static', path='css/h-custom.css')}}" rel="stylesheet">
    {% include "boilerplate_bs.html" %}
<body>

    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 col-sm-10">
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">

          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
             <h2 class="question pb-3">Enter your survey code below:</h2>

            <form class="ajaxform" data-url="/ajax-form">
              <div class="form-outline mb-4" id="single_input">
                <input type="text" name="code" id="input_form" class="form-control form-control-lg" />
                <label class="form-label" for="input_form">Enter your survey code</label>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Begin Survey</button>
              </div>
              {% if is_post %}
              <input type="hidden" name="is_post" value="true">
              {% endif %}

            </form>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2020. All rights reserved.
        </div>

      </div>
    </section>

    <!-- error modal -->
    <div id="errorModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Invalid code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="modal-body-text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {%include "error_modal.html" %}

    <script src="{{url_for('static', path='js/forms.js')}}"></script>
    <script src="{{url_for('static', path='js/mdb.min.js')}}"></script>
</body>
