

{% if type=="radio" %}
    <div class="list_wrapper">
        {% for opt in opts %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{number}}" value="{{opt}}" id="flexRadioDefault{{opt}}" required/>
          <label class="form-check-label" for="flexRadioDefault{{opt}}"> {{opt}} </label>
        </div>

        {% endfor %}
    </div>

{% elif type=="multiple" %}
    <div class="list_wrapper">
        {% for opt in opts %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="{{number}}" value="{{opt}}" id="flexCheckDefault{{opt}}" />
          <label class="form-check-label" for="flexCheckDefault{{opt}}">{{opt}}</label>
        </div>
        {% endfor %}
    </div>

{% elif type=="slider" %}

<label for="rangeSlider" class="form-label">Example range</label>
<div class="range">
  <input type="range" class="form-range" min="{{min_val}}" max="{{max_val}}" step="{{step}}" id="rangeSlider" />
</div>

{% elif type=="grid" %}

    <div class="grid_wrapper_small gws_left">
        <p class="grid_label">{{labels[0]}}</p>
    </div>
    <div class="grid_wrapper">
        {% for q, row in zip(questions, rows) %}
            <div class="grid_row_wrapper_text">
                <p class="grid_question">{{q}}</p>
            </div>

            <div class="grid_row_wrapper">
                {% for opt in opts %}
                <label class="radio grid_radio">
                    <span class="radio_input">
                    <input type="radio" name="{{row}}" value="{{opt}}" required>
                    <span class="radio_control"></span>
                    </span>
                </label>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="grid_wrapper_small gws_right">
        <p class="grid_label">{{labels[1]}}</p>
    </div>

{% elif type=="input" %}

<div class="form-outline">
  <input type="text" id="input_form" class="form-control" />
  <label class="form-label" for="input_form">New form</label>
</div>
{% endif %}
