  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Chatroom</title>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <audio src="/static/audio/sent.mp3" id="sent_sound"></audio>
    <audio src="/static/audio/received.mp3" id="received_sound"></audio>
    <div class = "chatbox">
      <h2 class="topic">Discuss current the current race divide in the US</h2>
      <div class = "chatwrapper" id = "chatwrapper">
        <h3 class="first_msg">Begin chatting with your group here!</h3>
      </div>

      <form class="chatform" action="" method="POST">
        <textarea class="message_box" placeholder="Chat with your group here!"></textarea>
        <input class="submit_chat" value="send" type="submit"/>
      </form>
      <script>
      // submit on enter
      $(".message_box").keypress(function (e) {
          if(e.which == 13 && !e.shiftKey) {
              $(this).closest("form").submit();
              e.preventDefault();
          }
      });
      </script>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {

        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault();
          let user_name = {{active_uid}};
          let user_input = $( 'textarea.message_box' ).val()
          socket.emit( 'post', {
            uname : user_name,
            uid : {{active_uid}},
            body : user_input
          } )
          // play send sound 
          document.getElementById("sent_sound").play()
          // ELIZA
          console.log("sending eliza")
          socket.emit( 'eliza', {msg : user_input})
        
          $( 'textarea.message_box' ).val( '' ).focus()
        } );
        socket.emit( 'join', {
          uid: {{active_uid}}
        } )
      } )
      socket.on('joined', function(msg){
        // ELIZA
        socket.emit('eliza', {msg: 'start'})
        document.getElementById("received_sound").play()
        
        if ({{active_uid}} != msg.uid){
          $( 'div.chatwrapper' ).append( '<p class="joined">'+msg.uid+' joined the chat</p>');
        }
    })
      socket.on( 'response', function( msg ) {
        console.log( msg );
        $( '.first_msg' ).remove();
        var cls;
        if( msg.uid == {{active_uid}}){
          cls = "sent";
        } else {
          cls = "received";
          document.getElementById("received_sound").play()
        }
        $( 'div.chatwrapper' ).append( '<div class="msg '+cls+'"><h4 class="username">'+msg.uname+'</h4><p class="message_body">'+msg.body+'</p></div>' )
        var chatbox = document.getElementById('chatwrapper')
        chatbox.scrollTop = chatbox.scrollHeight
        console.log(chatbox.scrollHeight)
      })
    </script>

  </body>
  </html>
