<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waiting room</title>

    <link href="{{url_for('static', filename='css/h-custom.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    {% include "boilerplate_bs.html" %}
</head>
<body>
    <section class="vh-100">
      <div class="container h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-lg-12 col-sm-10">

                <h1 class="border-bottom p-3">Thanks for your patience while we pair you with your group!</h1>
                <h3 >In the waiting room: <span id="lq text-primary">{{num_queue}}</span>/{{threshold}}</h3>
                <h3>Remember, it's <span class="text-primary">required</span> to complete your chat and post-survey for payment</h3>
            </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
          Copyright © 2020. All rights reserved.
        </div>

      </div>

    </section>

    <script type="text/javascript">
    var count = 0;
    setInterval(function(){
      count++;
      $("#ellipses").text(Array(count % 4).join('.'));
    }, 1000);

        // connect socket
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
      socket.emit( 'join_waiting_room', {
        uid: {{uid}}
      })
    });

    socket.on('joined_waiting_room', function(json){
      $('#lq').text(json['num_queue']);
    })

    socket.on('waiting_room_update', function(json){
      $('#lq').text(json['num_queue']);
    })

    socket.on('waiting_room_redirect_{{uid}}', function(json){
      window.location.href = json['redirect'];
    })

    </script>
</body>
